:root {
  --bg: #0d0c22;
  --text: white;
  --bgSoft: #2d2b42;
  --textSoft: #e5e5e5;
  --btn: #3673fd;
}

body {
  background-color: var(--bg);
  color: var(--text)
}

.container {
  background-color: rgb(30, 5, 44);
  margin: auto;
  width: 1500px;
  min-height: 100vh;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: aliceblue;
  letter-spacing: 1.5px;
}
