.container{
    min-width: 100px ;
    padding: 10px;
    border-radius: 20px;
    font-weight: 500;
}

.active{
    background-color: var(--text);
    color: var(--bg);
    display: flex;
    justify-content: center;
}

.logoutBtn{
    height: 1rem;
    width: 1rem;
}